server:
  port: 8083

spring:
  application:
    name: notification-service
  threads:
    virtual:
      enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}
