# Maven
target/
*.jar
*.war
*.zip
.mvn/
mvnw
mvnw.cmd

# AWS SAM
.aws-sam/
packaged.yaml

# LocalStack
localstack_data/
.localstack/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
docker-compose.override.yml

# Spring Boot / JVM
bin/
out/

# Logs
logs/
*.log
*.log.gz

# Backup & Temp
*.swp
*~
*.bak

# GitHub Repo Defaults
# Compiled class file
*.class
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# virtual machine crash logs
hs_err_pid*
replay_pid*
