# Search Service Configuration
spring:
  application:
    name: search-service
  threads:
    virtual:
      enabled: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8088/realms/insure-cloud}
  
  # Elasticsearch configuration
  elasticsearch:
    uris: ${ELASTICSEARCH_URIS:http://localhost:9200}
  
  # AWS configuration for SQS
  cloud:
    aws:
      sqs:
        endpoint: ${AWS_ENDPOINT:http://localhost:4566}
      region:
        static: ${AWS_REGION:us-east-1}
      credentials:
        access-key: test
        secret-key: test

server:
  port: 8085

# Logging configuration
logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    com.insurecloud.search: DEBUG
    org.springframework.data.elasticsearch: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}
