spring:
  application:
    name: quote-service
  threads:
    virtual:
      enabled: true
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}

server:
  port: 8082

logging:
  level:
    com.insurecloud: DEBUG
