server:
  port: 8084

spring:
  application:
    name: document-service
  threads:
    virtual:
      enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}
